<div id="disclaimer" class="d-none" style="backdrop-filter: blur(2px); justify-content: center; align-items: center; position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 1201">
    <div class="p-3 text-dark border border-dark rounded-3 bg-white d-flex" style="justify-content: center; flex-direction: column; width: 350px">
        <h5>Welcome to SimAware!</h5>
        <hr />
        <p>Here you will find tracking tools for VATSIM flights and ATC, including historical flight data. As with all flight simulation tools, <b>SimAware is not for real-world navigation or flight information.</b></p>
        <p>SimAware uses cookies to enhance the user experience.  Please accept cookies for optimal performance.</p>
        <button onclick="$('#disclaimer').addClass('d-none').removeClass('d-flex'); $.cookie('init', true, {expiry: 180});" class="btn btn-primary">Accept & Acknowledge</button>
    </div>
</div>