<div id="sidebar" class="d-flex flex-column">
    <div id="sidebar-container">
        <div id="airport-cap" class="p-3 d-flex flex-column">
            <div id="airport-status" class="text-white bg-dark py-1 px-3">
                <i class="fas fa-plane-arrival"></i> <span class="me-3" id="arrcount"></span>
                <i class="fas fa-plane-departure"></i> <span id="depcount"></span>
            </div>
            <div>
                <h3 id="airport-icao"></h3>
                <h5 id="airport-name" class="mb-0"></h5><h6 id="airport-city" class="mb-0 text-muted"></h6>
            </div>
        </div>
        <div id="airport-list-wrapper" class="py-2">
            <table id="airport-list">
            </table>
        </div>
    </div>
</div>