<div id="events-container">
    <div id="events-sidebar" class="d-flex flex-column" style="border: 1px solid #999">
        <div id="events-cap" class="p-3 d-flex flex-row justify-content-between align-items-center">
            <h5 class="mb-0" id="event-name">&nbsp;</h5>
            <span class="badge bg-primary" id="event-ap"></span>
        </div>
        <div id="events-table">
        </div>
    </div>
</div>