<div id="events-container">
    <div id="events-sidebar" class="d-flex flex-row">
        <div id="events-cap" class="p-3 d-flex flex-column justify-content-center">
            <h5 class="mb-0" id="event-name">&nbsp;</h5>
            <h6 id="event-date">&nbsp;</h6>
            <div id="events-aps"></div>
        </div>
        <div id="events-table">
        </div>
    </div>
</div>