<div id="events-container">
    <div id="events-sidebar" class="d-flex flex-column" style="border: 1px solid rgba(255,255,255,0.05)">
        <div id="events-cap" style="position: relative" class="p-3 pt-4 pb-0 d-flex flex-row justify-content-between align-items-center">
            <h5 class="pt-2 mb-0 d-flex align-items-center" id="event-name">&nbsp;</h5>
            <span id="event-ap" class="pt-2 ps-5" style="text-align: right"></span>
            <div class="analysis-button">Analysis</div>
        </div>
        <div id="events-table">
        </div>
    </div>
</div>