<div class="modal" id="splitmodal" style="z-index: 9999">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background-color: #191919; border-color: #333">
            <div class="modal-header" style="align-items: start; border-bottom: 1px solid #333;">
                <h5 class="modal-title" id="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    Foo
                </div>
            </div>
        </div>
    </div>
</div>