<div id="flights-sidebar" class="flex-column" style="display: none;">
    <div id="flights-status" class="text-white py-1 px-3" style="position: absolute; top: 0; right: 0">
    </div>
    <div id="flights-cap" class="d-flex flex-column" style="padding-top: 1rem !important;padding-left: 1rem !important;padding-right: 1rem !important;">
        <h3 id="flights-callsign" style="line-height: 0.5;padding-top:5px"></h3>
        <div>Airline Name</div>
        <div id="flights-name" style="display:flex;justify-content: left;align-items:center;padding-bottom: 8px;"></div>
    </div>

    <div id="flights-body" class="flex-column">

        <div id="aircraft-picture" style="width: 100% !important;height:150px;background-color: #EDEEEF;color:#353638;justify-content: center;align-items:center;display:flex;flex-direction:column">
            <span id="flights-equipment-img"></span>
            <img src="/img/aircraft_full/a380.png" alt="aircraft" style="width:80%"></img>
            <div class="display: flex;">
                <span id="flights-equipment-simple" class="z-index:1001;color:#353638;font-weight:200;padding-top:10px"></span>
            </div>
            
        </div>

        <div style="color:#353638;display: flex;flex-direction: row;padding-top:4px;justify-content: space-between;height: 90px;">
            <div style="background-color: #EDEEEF;display:flex;padding: 2px;display: flex;flex-direction: column;width: 49.5%;text-align:center;justify-content: center;line-height: 1;">
                <span style="font-weight:bold; font-size: 32px" id="flights-dep-icao"></span>
                <span style="font-weight:bold; font-size: 14px;overflow: hidden;text-overflow:ellipsis;" id="flights-airport-dep-short">
                </span>
                <span style="font-size: 12px;padding-top:2px">CEST (UTC +02:00)</span>
            </div>
            <div style="background-color: #EDEEEF;display:flex;padding: 2px;display: flex;flex-direction: column;width: 49.5%;text-align:center;justify-content: center;line-height: 1;" >
                <span style="font-weight:bold; font-size: 32px" id="flights-arr-icao"></span>
                <span style="font-weight:bold; font-size: 14px;overflow: hidden;text-overflow:ellipsis;" id="flights-airport-arr-short">
                </span>
                <span style="font-size: 12px;padding-top:2px">CEST (UTC +02:00)</span>
            </div>
        </div>

        <div style="display: flex;flex-direction:row;justify-content: space-between;font-weight:600">
            <div style="color:#353638;display: flex;flex-direction: row;padding-top:4px;justify-content: space-between;height: 40px;flex-direction:column;width: 49.5%">
                <div style="background-color: #EDEEEF;display:flex;padding: 2px;display: flex; justify-content:space-between">
                    <span>
                        SCHEDULED
                    </span>
                    <span>
                        8:15 pm
                    </span>
                </div>
                <div style="background-color: #EDEEEF;display:flex;padding: 2px;display: flex; justify-content:space-between;margin-top:4px">
                    <span>
                        ACTUAL
                    </span>
                    <span>
                        8:45 pm
                    </span>
                </div>
            </div>

            <div style="color:#353638;display: flex;flex-direction: row;padding-top:4px;justify-content: space-between;height: 40px;flex-direction:column;width: 49.5%;">
                <div style="background-color: #EDEEEF;display:flex;padding: 2px;display: flex; justify-content:space-between">
                    <span class="font-weight: 600;">
                        SCHEDULED
                    </span>
                    <span class="font-weight: 600;">
                        8:15 pm
                    </span>
                </div>
                <div style="background-color: #EDEEEF;display:flex;padding: 2px;display: flex; justify-content:space-between;margin-top:4px">
                    <span class="font-weight: 600;">
                        ESTIMATED
                    </span>
                    <span class="font-weight: 600;">
                        8:45 pm
                    </span>
                </div>
            </div>
        </div>


        <div class="d-flex flex-row align-items-center" style="background-color: #EDEEEF;margin-top: 16px;padding: 15px 5px 15px 5px;">
            <div id="flights-progressbar" class="d-flex flex-row align-items-center" style="flex-grow: 1">
                <div id="flights-progressbar-elapsed"></div>
                <i id="flights-progressbar-plane" class="fas fa-plane"></i>
                <div id="flights-progressbar-remaining"></div>
            </div>
        </div>
       
        <div style="display:flex;justify-content: center;align-items:center;flex-direction: column;padding-buttom:10px">
            <h5 style="padding: 5px; 0">Route</h5>
            <div id="flights-route" class="mono" style="padding: 0 10px 10px;text-align: center;"></div>
        </div>
    </div>
</div>