<div id="footer-background">
        <div id="footer-group">
            <div id="infobar" style="flex-grow: 1">
                <div id="infobar-title" style="display: none"></div>
                <div class="ps-3" id="infobar-content" style="display: none"></div>
            </div>
            <div id="search-group" style="flex: 0; min-width: 350">
                <div class="input-group mb-0" data-children-count="1">
                    <div class="input-group-prepend mr-0">
                        <div class="btn-group dropup">
                            <button type="button" id="search-selector" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Live Flights
                            </button>
                            <ul class="dropdown-menu" style="">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                    <input type="text" id="search-field" class="form-control text-white border-left-0" placeholder="Search..." aria-label="Text input with dropdown button">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="search-wrapper">
    <div class="p-3 pb-1">
        <h5 class="mb-0">Search Results</h5>
    </div>
    <div style="max-height: 400; overflow-y: scroll">
        <table id="search-results" class="mb-2 w-100">
        </table>
    </div>
</div>