<div id="footer-background">
        <div id="footer-group">
            <div class="d-flex align-items-center">
                <div id="toggle-group" class="me-3">
                    <div id="streamers-toggle" class="toggle-item px-2 py-1">Streamers</div>
                    <div id="ap-toggle" class="toggle-item px-2 py-1">Popular Airports</div>
                    <div id="events-toggle" class="toggle-item px-2 py-1">Events</div>
                </div>
                <div id="infobar">
                    <div id="infobar-title" style="display: none"></div>
                    <div class="infobar-wrapper" style="position: relative; height: 100%; min-width: 600px; cursor:pointer;">
                        <div class="ps-1" id="infobar-content" style="position: absolute; top: 0px; height: 100%; left: -20px; opacity: 0"></div>
                    </div>
                </div>
            </div>
            <div id="search-group" style="flex: 0; min-width: 350px">
                <div class="input-group mb-0" data-children-count="1">
                    <div class="input-group-prepend mr-0">
                        <button type="button" id="search-selector" class="btn">
                            Search
                        </button>
                    </div>
                    <input type="text" id="search-field" class="form-control text-white border-left-0" placeholder="Search...">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="search-wrapper">
    <div class="p-3 pb-1">
        <h5 class="mb-0">Search Results</h5>
    </div>
    <div class="os-host-flexbox" style="max-height: 400; overflow-y: scroll">
        <table id="search-results" class="mb-2 w-100">
        </table>
    </div>
</div>
<div id="ap-wrapper" class="p-3">
</div>
<div id="streamers-wrapper" class="p-3">
</div>
<div id="events-wrapper" class="p-3">
</div>