<div id="footer-background">
        <div id="footer-group">
            <div id="infobar" style="flex-grow: 1">
                <div id="infobar-title" style="display: none"></div>
                <div class="infobar-wrapper" style="position: relative; height: 100%; min-width: 600px">
                    <div class="ps-1" id="infobar-content" style="position: absolute; top: 100%; height: 100%"></div>
                </div>
            </div>
            <div id="search-group" style="flex: 0; min-width: 350">
                <div class="input-group mb-0" data-children-count="1">
                    <div class="input-group-prepend mr-0">
                        <button type="button" id="search-selector" class="btn">
                            Search
                        </button>
                    </div>
                    <input type="text" id="search-field" class="form-control text-white border-left-0" placeholder="Search...">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="search-wrapper">
    <div class="p-3 pb-1">
        <h5 class="mb-0">Search Results</h5>
    </div>
    <div class="os-host-flexbox" style="max-height: 400; overflow-y: scroll">
        <table id="search-results" class="mb-2 w-100">
        </table>
    </div>
</div>