<!-- Viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Title -->
<title>SimAware - Real-Time VATSIM Flight Tracking</title>
<link rel="icon" type="image/png" href="/img/favicon.png">

<!-- Stylesheets -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<link rel="stylesheet" href="/css/icons.css" />
<link rel="stylesheet" href="/css/MarkerCluster.Default.css">
<link rel="stylesheet" href="/css/MarkerCluster.css">
<link rel="stylesheet" href="/css/simawaremap.css">
<link type="text/css" href="/css/OverlayScrollbars.min.css" rel="stylesheet"/>

<!-- JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="/js/simaware_app/simaware-map.js"></script>
<script src="https://d3js.org/queue.v1.min.js"></script>
<script src="/js/polylabel.js"></script>
<script src="/js/simaware_app/simaware-airport.js"></script>
<script src="/js/simaware_app/simaware-math.js"></script>
<script src="/js/simaware_app/simaware-user.js"></script>
<script src="/js/simaware_app/simaware-atis.js"></script>
<script src="/js/simaware_app/simaware-infobar.js"></script>
<script src="/js/simaware_app/simaware-event.js"></script>
<script src="/js/simaware_app/simaware-search.js"></script>
<script src="/js/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.33/moment-timezone-with-data-10-year-range.js" integrity="sha512-Zy6GmgJpPiVngCfEP3NZcAH5CdPuHg2RtF1w3jUln677wOsQPmZEVbdI9x6SraTrawfNFeE98YfFA/jAcJ1kVg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="/js/Leaflet.Marker.Rotate.js"></script>
<script async src="https://kit.fontawesome.com/eb1e96e4fa.js" crossorigin="anonymous"></script>
<script src="/js/leaflet.activearea.js"></script>
<script src="/js/leaflet.antimeridian.js"></script>
<script src="/js/Leaflet.CanvasMarker.js"></script>
<script src="/js/leaflet-ant-path.js"></script>
<script src="/js/jquery.overlayScrollbars.min.js"></script>
<script src="/js/jquery.cookie.js"></script>

<!-- Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1K2NRFCS41"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1K2NRFCS41');
</script>

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Didact+Gothic:400,600" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nova+Mono" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap" rel="stylesheet">