<nav class="navbar navbar-expand-lg navbar-dark bg-black" style="flex: 0">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/img/simaware.png" style="height: 20px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stats">Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/patreon">Patreon</a>
        </li>
      </ul>
      <div class="text-muted">
        Currently tracking <span class="badge bg-dark text-light" id="navbar_pilots"></span> flights <span class="badge bg-dark text-light" id="navbar_clock"></span> Zulu
        <script>
          let updateClock = function(){
              const d = new Date();
              // Format: Jan 01 00:00
              const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
              let text = monthNames[d.getMonth()] + ' ' + ('0' + d.getUTCDate()).slice(-2) + ' ' + ('0' + d.getUTCHours()).slice(-2) + ':' + ('0' + d.getUTCMinutes()).slice(-2);
              $('#navbar_clock').html(text);
              // Update every minute
              let timeoutMS = (60-d.getUTCSeconds()) * 1000;
              setTimeout(arguments.callee, timeoutMS);
          };
          // Immediate first update
          updateClock();
        </script>
      </div>
    </div>
  </div>
</nav>