<div id="streamers-bar" class="hidescroll justify-center d-none" style="overflow-x: scroll; position: absolute; left: 0; right: 0; bottom: 120; z-index: 1199">
    <div class="streamers-container ms-3" style="white-space: nowrap;">
        <div class="p-3 bg-dark text-light rounded me-3" style="display: inline-block; width: 350px">
            Foo
        </div>
        <div class="p-3 bg-dark text-light rounded me-3" style="display: inline-block; width: 350px">
            Foo
        </div>
        <div class="p-3 bg-dark text-light rounded me-3" style="display: inline-block; width: 350px">
            Foo
        </div>
        <div class="p-3 bg-dark text-light rounded me-3" style="display: inline-block; width: 350px">
            Foo
        </div>
        <div class="p-3 bg-dark text-light rounded me-3" style="display: inline-block; width: 350px">
            Foo
        </div>
        <div class="p-3 bg-dark text-light rounded me-3" style="display: inline-block; width: 350px">
            Foo
        </div>
        <div class="p-3 bg-dark text-light rounded me-3" style="display: inline-block; width: 350px">
            Foo
        </div>
        <div class="p-3 bg-dark text-light rounded me-3" style="display: inline-block; width: 350px">
            Foo
        </div>
    </div>
</div>