<div id="streamers-bar" class="d-none" style="justify-content: center; position: absolute; left: 0; right: 0; bottom: 120; z-index: 1199">
    <div class="hidescroll" style="max-width: 100%; overflow-x: scroll">
        <div class="streamers-container ms-3" style="white-space: nowrap;">
            <div class="p-3 bg-dark text-light rounded me-3" style="display: inline-block; width: 350px">
                Foo
            </div>
            <div class="p-3 bg-dark text-light rounded me-3" style="display: inline-block; width: 350px">
                Foo
            </div>
            <div class="p-3 bg-dark text-light rounded me-3" style="display: inline-block; width: 350px">
                Foo
            </div>
            <div class="p-3 bg-dark text-light rounded me-3" style="display: inline-block; width: 350px">
                Foo
            </div>
            <div class="p-3 bg-dark text-light rounded me-3" style="display: inline-block; width: 350px">
                Foo
            </div>
            <div class="p-3 bg-dark text-light rounded me-3" style="display: inline-block; width: 350px">
                Foo
            </div>
            <div class="p-3 bg-dark text-light rounded me-3" style="display: inline-block; width: 350px">
                Foo
            </div>
            <div class="p-3 bg-dark text-light rounded me-3" style="display: inline-block; width: 350px">
                Foo
            </div>
        </div>
    </div>
</div>