<div id="user-sidebar" style="display: none;">
    <div id="control-user-pullout" class="control-pullout" onclick="returnSidebarToView('user-sidebar'); $(this).css({display: 'none'}); user_sidebar = false;">
        <i class="fas fa-long-arrow-alt-left"></i>
    </div>
    <div id="controls-container">
        <div class="control" style="margin-right: 0.5rem" onclick="$('#user-sidebar').animate({right: -350}, 200); $('#control-user-pullout').css({display: 'flex'})"><i class="fas fa-long-arrow-alt-right"></i></div>
        <div class="control" onclick="$('#user-sidebar').hide(0)"><i class="fas fa-times"></i></div>
    </div>
    <div id="sidebar-container">
        <div id="airport-cap" class="p-3 d-flex flex-column">
            <div>
                <h5 class="mb-0 text-muted" id="pilot-name">&nbsp;</h5>
            </div>
        </div>
        <div id="flight-list-wrapper" class="os-host-flexbox">
            <table id="flight-list" class="w-100">
            </table>
        </div>
    </div>
</div>

<!-- Initialize the scrollbar -->
<script>
    $('#airport-list-wrapper').overlayScrollbars({ });
</script>