<div id="user-sidebar">
    <div id="sidebar-container">
        <div id="airport-cap" class="p-3 d-flex flex-column">
            <div>
                <h4 class="mb-0" id="pilot-name">&nbsp;</h4>
            </div>
        </div>
        <div id="flight-list-wrapper" class="os-host-flexbox">
            <table id="flight-list" class="w-100">
            </table>
        </div>
    </div>
</div>

<!-- Initialize the scrollbar -->
<script>
    $('#airport-list-wrapper').overlayScrollbars({ });
</script>