<div id="sidebar">
    <div id="sidebar-container">
        <div id="airport-cap" class="p-3 d-flex flex-column">
            <h5 class="mb-0" id="pilotname"></h5>
        </div>
        <div id="airport-list-wrapper" class="py-2">
            <table id="airport-list" class="w-100">
            </table>
        </div>
    </div>
</div>