<html>
<head>

    <!-- Header includes -->
    {{> head}}

</head>
<body>
    <div id="fullscreen-container" class="d-flex flex-column">
        
        <div id="main-container" class="d-flex flex-column" style="flex-grow: 1; height: 100vh">

            {{> navbar}}

            {{> ackmodal }}

            <!-- Body -->
            {{{ body }}}

        </div>

        <div id="mobile-container" style="flex-grow: 0">
        </div>

    </div>

</body>
</html>