<head>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link href="https://fonts.googleapis.com/css2?family=Figtree:wght@400;600&display=swap" rel="stylesheet">
  <title>404 Not Found</title>
</head>
<body style="background-color: #222; color: #fff; font-family: 'Figtree', sans-serif; height: 100%; display: flex; justify-content: center; align-items: center">
<div class="container">
  <div class="row">
    <div class="col-9">
      <h1 class="display-1 text-primary" style="font-size: 128px;">404</h1>
      <h4 class="text-secondary">The page you are looking for cannot be found.</h4>
    </div>
  </div>
  <hr />
  <div class="col-12">
    <a href="/" class="btn btn-outline-secondary" style="cursor: pointer;">Back to Home</a>
  </div>
</div>
</body>
