<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive-xl">
                <table class="mt-3 small table table-dark table-hover table-bordered" style="min-width: 900px">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th>Name</th>
                            <th class="text-center">Date</th>
                            <th>Airports</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="eventspane">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(() => {

    initialize();

})

async function initialize()
{
    response = await fetch(dataserver + 'api/livedata/events.json');
    data = await response.json();

    html = '';
    $.each(data.past, (idx, event) => {
        var id = '<td class="text-center">'+event.id+'</td>';
        var name = '<td>'+event.name+'</td>';
        var date = '<td class="text-center">'+moment(event.start).format('YYYY-MM-DD')+'</td>';
        var apts = '<td>';
        $.each(event.airports, (idx, ap) => {
            apts += '<span class="badge bg-secondary">'+ap.icao+'</span> ';
        })
        apts += '</td>';
        if(event.approved == 0)
        {
            var va = '<td class="text-center text-muted" colspan="2">Pending</td>';
        }
        else if(event.processed == 0)
        {
            var va = '<td class="text-center text-warning" colspan="2">Processing</td>';
        }
        else
        {
            var va = '<td class="text-center"><a href="/event/'+event.id+'">View</a></td><td class="text-center"><a href="/analysis/'+event.id+'">Analysis</a></td>';
        }

        html += '<tr>' + id + name + date + apts + va + '</tr>';
    })

    console.log(data);
    $('#eventspane').html(html);
}
</script>