<div id="map" class="d-flex" style="min-height: 0; flex-grow: 1">
    <div id="controls" class="d-flex" style="flex-direction: row; position: absolute; left: calc(50% - 100px); top: 10; background: #333; z-index: 90000; font-size: 1rem; color: #888; overflow: hidden; border-radius: 1.5rem">
        <div class="map-button py-1" style="" id="lights"><i class="far fa-lightbulb"></i></div>
        <div class="map-button py-1" id="tags"><i class="fas fa-tags"></i></div>
        <div class="map-button py-1" onclick="toggleNexrad()" id="wx"><i class="fas fa-sun"></i></div>
        <div class="map-button py-1" onclick="toggleATC()" id="atc">ATC</div>
        <div class="map-button py-1" id="nat">NAT</div>
    </div>

    <!-- Flight Display Sidebar -->
    {{> flights-sidebar}}

    <!-- Footer Group -->
    {{> footer}}
</div>
<script>
$(document).ready(function() {


    
    
    
})

$(document).ready(function() {

    airports = [];
    flights = [];

    // Airports show everything
    filterName = null;
    filterCriteria = null;

    initialize();
    setInterval(
        async () => { 

            if(new Date().getSeconds() <= 5)
            {
                flights = await refreshFlights(filterName, filterCriteria); 
            }
            else
            {
                interpolateLoc();
            }
            
        }, 5 * 1000);
})

async function initialize()
{
    initializeMap();

    response = await fetch('/livedata/airports.json');
    airports = await response.json();
    flights = await refreshFlights(filterName, filterCriteria);

    initializeNexrad();
    initializeATC();
    initializeAirports();
    refreshATC();
}
</script>