<div id="map" class="d-flex" style="min-height: 0; flex-grow: 1">
    <div id="controls" class="d-flex" style="flex-direction: row; position: absolute; left: calc(50% - 150px); bottom: 70; background: #333; z-index: 1199; font-size: 1rem; color: #888; overflow: hidden; border-radius: 1.5rem">
        <div class="map-button py-1" onclick="toggleBasemap()" style="" id="light"><i class="far fa-lightbulb"></i></div>
        <div class="map-button py-1" onclick="toggleNexrad()" id="wx"><i class="fas fa-sun"></i></div>
        <div class="map-button py-1" onclick="toggleATC()" id="atc">ATC</div>
        <div class="map-button py-1" onclick="toggleSigmet()" id="sigmet">SIGMET</div>
        <div class="map-button py-1" onclick="toggleNat()" id="nat">NAT</div>
    </div>

    <!-- Flight Display Sidebar -->
    {{> flights-sidebar}}

    <!-- Airports Sidebar -->
    {{> airport-sidebar }}

    <!-- Users Sidebar -->
    {{> user-sidebar }}

    <!-- Footer Group -->
    {{> footer}}
</div>
<script>

$(document).ready(function() {

    airports = [];
    flights = [];
    manual = false;

    // Airports show everything
    filterName = null;
    filterCriteria = null;

    initialize();
    setInterval(
        async () => { 

            if(new Date().getSeconds() <= 2)
            {
                await refreshATC();
                flights = await refreshFlights(filterName, filterCriteria);
                updateInfobar();
                updateSigmet();
                setLayerOrder();
            }
            else
            {
                interpolateLoc();
            }
            
        }, 2 * 1000);
})

async function initialize()
{
    initializeMap();

    response = await fetch('/livedata/airports.json');
    airports = await response.json();
    flights = await refreshFlights(filterName, filterCriteria);
    eventsByAirport = await loadUpcomingEvents();
    airlines = await loadAirlines();

    await initializeNexrad();
    await initializeNat();
    await initializeATC();
    await initializeAirports();
    await refreshATC();
    await initializeInfobar();
    await updateSigmet();
    handleCookies();

    // If redirected from another page
    let searchParams = new URLSearchParams(window.location.search);
    if(searchParams.has('uid'))
    {
        zoomToFlight(searchParams.get('uid'));
    }
    else if(searchParams.has('airport'))
    {
        zoomToAirport(searchParams.get('airport'));
    }
}
</script>