<div class="d-flex" style="min-height: 0; flex-grow: 1">

    <div class="container mt-3 mb-5">
        <div class="row">
            <div class="col-12">
                <nav class="mb-3">
                    <div class="nav nav-pills" id="nav-tab" role="tablist">
                        <button class="nav-link text-white active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Flights</button>
                        <button class="nav-link text-white" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">ATC</button>
                        <button class="nav-link text-white" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Airlines</button>
                        <button class="nav-link text-white" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-aircraft" type="button" role="tab" aria-controls="nav-aircraft" aria-selected="false">Aircraft</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="table-responsive-xl">
                            <table class="small table border-secondary text-white table-hover table-bordered" style="min-width: 900px">
                                <thead>
                                    <tr>
                                        <th>Callsign</th>
                                        <th>Pilot</th>
                                        <th>Status</th>
                                        <th colspan="2">Departure</th>
                                        <th colspan="2">Arrival</th>
                                    </tr>
                                </thead>
                                <tbody id="flights" style="vertical-align: middle">
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <table class="small table border-secondary text-white table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Callsign</th>
                                    <th>Position</th>
                                    <th>Frequency</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody id="atc" style="vertical-align: middle">
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <table class="small table border-secondary text-white table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 6%; text-align: center; vertical-align: middle"><i class="fas fa-medal"></i></th>
                                    <th style="width: 6%; text-align: center">#</th>
                                    <th colspan="3">Airline</th>
                                    <th>Callsign</th>
                                    <th>Country of Origin</th>
                                </tr>
                            </thead>
                            <tbody id="airlines" style="vertical-align: middle">
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="nav-aircraft" role="tabpanel" aria-labelledby="nav-aircraft-tab">
                        <table class="small table border-secondary text-white table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 6%; text-align: center; vertical-align: middle"><i class="fas fa-medal"></i></th>
                                    <th style="width: 6%; text-align: center">#</th>
                                    <th colspan="3">Aircraft</th>
                                </tr>
                            </thead>
                            <tbody id="aircraft" style="vertical-align: middle">
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> footer}}
</div>
<script>

$(document).ready(function() {

    airports = [];
    flights = [];
    manual = false;

    // Airports show everything
    filterName = null;
    filterCriteria = null;

    initialize();

    setInterval(
        async () => { 

            if(new Date().getSeconds() <= 5)
            {
                await refreshATC();
                flights = await refreshFlights(filterName, filterCriteria);
                updateInfobar();
                updateData();
            }
            
        }, 60 * 1000);
})

async function initialize()
{
    await initializePatrons();
    await initializeMap(1);

    layers_positions = {};

    response = await fetchRetry('/livedata/airports.json');
    airports = await response.json();
    flights = await refreshFlights(filterName, filterCriteria);
    eventsByAirport = await loadUpcomingEvents();
    airlines = await loadAirlines();
    aircraft = await loadAircraft();

    await initializeFirData();
    initializeNexrad();
    await initializeATC();
    initializeAirports();
    refreshATC();
    initializeInfobar();

    if(!$.trim($('#atc').html()).length)
    {
        refreshStats();
    }
}

async function refreshStats()
{
    flights = await refreshFlights();

    let html = '';
    $.each(flights, (idx, flight) => {

        [dep_airport, dep_point, dep_name, dep_city] = processAirport(flight.dep);
        [arr_airport, arr_point, arr_name, arr_city] = processAirport(flight.arr);
        let status = getStatus(flight);
        html += '<tr><td width="5%"><a class="text-white" href="#" onclick="zoomToFlight(\''+flight.uid+'\')">'+flight.callsign+'</a></td><td width="26%"><a class="text-white" href="/?user='+flight.cid+'"class="me-2">'+flight.name+'</a> '+getBadge(flight.rating)+getPatron(flight.cid)+'</td><td width="9%"><span>'+status.status+'</span></td><td width="5%" style="text-align: center"><a class="text-white" href="/?airport='+flight.dep+'">'+flight.dep+'</a></td><td width="25%" class="small"><a class="text-white" href="/?airport='+flight.dep+'">'+dep_name+'<br><span class="text-muted">'+dep_city+'</span></a></td><td width="5%" style="text-align: center"><a class="text-white" href="/airport/'+flight.arr+'">'+flight.arr+'</a></td><td width="25%" class="small"><a class="text-white" href="/airport/'+flight.arr+'">'+arr_name+'<br><span class="text-muted">'+arr_city+'</span></a></td></tr>';
    })
    $('#flights').html(html);

    html = '';
    $.each(sectors, (idx, sector) => {
        let index = getFirIndexByCallsign(sector.callsign);
        let fir = firSearch(sector.callsign);
        if(fir && index)
        {
            var firname = getCallsignByFir(fir, index);
        }
        else
        {
            var firname = 'Unknown Sector';
        }
        console.log(fir);
        html += '<tr class="atcrow"><td>'+sector.callsign+'</td><td>'+firname+'</td><td>'+sector.freq+'</td><td>'+sector.name+'</td></tr>';
    })
    $.each(tracons, (idx, tracon) => {

        var search = traconSearch(tracon.callsign);
        if(search !== null)
        {
            if(search[1] == 'circles')
            {
                var callsign = search[0].name + ' Approach/Departure';
            }
            else
            {
                var callsign = search[0].feature.properties.name;
            }
        }
        else
        {
            var callsign = 'Unknown Approach/Departure';
        }

        html += '<tr class="atcrow"><td>'+tracon.callsign+'</td><td>'+callsign+'</td><td>'+tracon.freq+'</td><td>'+tracon.name+'</td></tr>';
    })
    for(icao in locals) 
    {
        let local = locals[icao];
        if(local.loc.callsign)
        {
            var callsign = local.loc.callsign;
        }
        else
        {
            var callsign = local.loc.name;
        }
        $.each(local.DEL, (idx, pos) => {
            html += '<tr class="atcrow"><td>'+pos.callsign+'</td><td>'+callsign+' Delivery</td><td>'+pos.freq+'</td><td>'+pos.name+'</td></tr>';
        })
        $.each(local.GND, (idx, pos) => {
            html += '<tr class="atcrow"><td>'+pos.callsign+'</td><td>'+callsign+' Ground</td><td>'+pos.freq+'</td><td>'+pos.name+'</td></tr>';
        })
        $.each(local.TWR, (idx, pos) => {
            html += '<tr class="atcrow"><td>'+pos.callsign+'</td><td>'+callsign+' Tower</td><td>'+pos.freq+'</td><td>'+pos.name+'</td></tr>';
        })
    }
    $('#atc').html(html);
    
    html = '';
    var airlineCount = {};
    $.each(airlines, (idx, airline) => {
        airlineCount[airline[0].icao] = 0;
    })
    var airlineKeys = Object.keys(airlines);
    $.each(flights, (idx, flight) => {
        if(flight.callsign.match(/[A-Z]+/) && airlineKeys.includes(flight.callsign.match(/[A-Z]+/)[0]))
        {
            airlineCount[flight.callsign.match(/[A-Z]+/)[0]]++;
        }
    })

    airlinesSorted = [];
    for (var icao in airlineCount) {
        airlinesSorted.push([icao, airlineCount[icao]]);
    }

    airlinesSorted.sort(function(a, b) {
        return b[1] - a[1];
    });
    let counter = 0;
    let prevnum = 0;
    $.each(airlinesSorted, (idx, airline) => {
        if(airline[1])
        {
             html += '<tr class="airline" icao="'+airline[0]+'" onclick="$(\'#search-field\').val(\'al:\'+$(this).attr(\'icao\')); searchAction()"><td style="text-align: center">';
            if(airline[1]) { if(counter == airline[1]) { html += prevnum; } else { html += idx + 1; prevnum = idx + 1;} counter = airline[1]; };
            html += '</td><td style="text-align: center">';
            if(airline[1] == 0) { html += '<span class="text-muted">'+ airline[1] +'</span>'; }
            else { html += airline[1]; }
            html += '</td><td style="text-align: center">'+airline[0]+'</td>'

            html += '<td style="text-align: center">'
            var s = []
            for(var i in airlines[airline[0]])
            {
                s.push(airlines[airline[0]][i].iata);
            }
            html += s.join('<br>');

            html += '</td><td>'
            var s = []
            for(var i in airlines[airline[0]])
            {
                s.push(airlines[airline[0]][i].name);
            }
            html += s.join('<br>');
            html += '</td><td>'
            var s = []
            for(var i in airlines[airline[0]])
            {
                s.push(airlines[airline[0]][i].callsign);
            }
            html += s.join('<br>');
            html += '</td><td>'
            var s = []
            for(var i in airlines[airline[0]])
            {
                s.push(airlines[airline[0]][i].country);
            }
            html += s.join('<br>') + '</td></tr>';
        }
    })
    $('#airlines').html(html);

    html = '';
    aircraftCount = {};
    aircraftKeys = Object.keys(aircraft);
    $.each(aircraft, (idx, ac) => {
        aircraftCount[ac.icao] = 0;
    })
    $.each(flights, (idx, flight) => {
        var icao = getAircraftIcao(flight.aircraft);
        if(aircraftKeys.includes(icao))
        {
            aircraftCount[icao]++;
        }
    })

    aircraftSorted = [];
    for (var icao in aircraftCount) {
        aircraftSorted.push([icao, aircraftCount[icao]]);
    }

    aircraftSorted.sort(function(a, b) {
        return b[1] - a[1];
    });

    let acounter = 0;
    let aprevnum = 0;
    $.each(aircraftSorted, (idx, ac) => {
        if(ac[1])
        {
             html += '<tr class="aircraft" icao="'+ac[0]+'" onclick="$(\'#search-field\').val(\'ac:\'+$(this).attr(\'icao\')); searchAction()"><td style="text-align: center">';
            if(ac[1]) { if(acounter == ac[1]) { html += aprevnum; } else { html += idx + 1; aprevnum = idx + 1;} acounter = ac[1]; };
            html += '</td><td style="text-align: center">';
            if(ac[1] == 0) { html += '<span class="text-muted">'+ ac[1] +'</span>'; }
            else { html += ac[1]; }
            html += '</td><td style="text-align: center">'+ac[0]+'</td><td style="text-align: center">'+aircraft[ac[0]].iata+'</td><td>' + aircraft[ac[0]].name + '</td></tr>';
        }
    })
    $('#aircraft').html(html);

}

function getAircraftIcao(str)
{
    ac_array = str.split('/');
    if(ac_array.length == 3)
    {
        return ac_array[1];
    }
    else
    {
        return ac_array[0];
    }
}
</script>