<div class="d-flex" style="min-height: 0; flex-grow: 1">

    <div class="container mt-3 mb-5">
        <div class="row">
            <div class="col-12">
                <nav class="mb-3">
                    <div class="nav nav-pills" id="nav-tab" role="tablist">
                        <button class="nav-link text-white active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Flights</button>
                        <button class="nav-link text-white" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">ATC</button>
                        <button class="nav-link text-white" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Airlines</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <table class="small table table-dark table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Callsign</th>
                                    <th>Pilot</th>
                                    <th>Status</th>
                                    <th colspan="2">Departure</th>
                                    <th colspan="2">Arrival</th>
                                </tr>
                            </thead>
                            <tbody id="flights" style="vertical-align: middle">
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <table class="small table table-dark table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Callsign</th>
                                    <th>Position</th>
                                    <th>Frequency</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody id="atc" style="vertical-align: middle">
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <table class="small table table-dark table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 6%; text-align: center; vertical-align: middle"><i class="fas fa-medal"></i></th>
                                    <th style="width: 6%; text-align: center">#</th>
                                    <th colspan="3">Airline</th>
                                    <th>Callsign</th>
                                    <th>Country of Origin</th>
                                </tr>
                            </thead>
                            <tbody id="airlines" style="vertical-align: middle">
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> footer}}
</div>
<script>

$(document).ready(function() {

    airports = [];
    flights = [];
    manual = false;

    // Airports show everything
    filterName = null;
    filterCriteria = null;

    initialize();

    setInterval(
        async () => { 

            if(new Date().getSeconds() <= 5)
            {
                await refreshATC();
                flights = await refreshFlights(filterName, filterCriteria);
                updateInfobar();
                updateSigmet();
                setLayerOrder();
            }
            else
            {
                interpolateLoc();
            }
            
        }, 5 * 1000);
})

async function initialize()
{
    initializeMap(1);

    response = await fetch('/livedata/airports.json');
    airports = await response.json();
    flights = await refreshFlights(filterName, filterCriteria);
    eventsByAirport = await loadUpcomingEvents();
    airlines = await loadAirlines();

    initializeNexrad();
    initializeATC();
    initializeAirports();
    refreshATC();
    initializeInfobar();
    updateSigmet();

    console.log('FLAG' + !$.trim($('#atc').html()).length)
    if(!$.trim($('#atc').html()).length)
    {
        refreshData();
    }
}

async function refreshData()
{
    await refreshATC();
    flights = await refreshFlights();

    let html = '';
    $.each(flights, (idx, flight) => {

        [dep_airport, dep_point, dep_name, dep_city] = processAirport(flight.dep);
        [arr_airport, arr_point, arr_name, arr_city] = processAirport(flight.arr);
        let status = getStatus(flight);
        html += '<tr><td width="5%"><a class="text-white" href="#" onclick="zoomToFlight(\''+flight.uid+'\')">'+flight.callsign+'</a></td><td width="26%"><span class="me-2">'+flight.name+'</span>'+getBadge(flight.rating)+'</td><td width="9%"><span>'+status.status+'</span></td><td width="5%" style="text-align: center"><a class="text-white" href="/airport/'+flight.dep+'">'+flight.dep+'</a></td><td width="25%" class="small"><a class="text-white" href="/airport/'+flight.dep+'">'+dep_name+'<br><span class="text-muted">'+dep_city+'</span></a></td><td width="5%" style="text-align: center"><a class="text-white" href="/airport/'+flight.arr+'">'+flight.arr+'</a></td><td width="25%" class="small"><a class="text-white" href="/airport/'+flight.arr+'">'+arr_name+'<br><span class="text-muted">'+arr_city+'</span></a></td></tr>';
    })
    $('#flights').html(html);

    html = '';
    $.each(sectors, (idx, sector) => {
        let index = getFirIndexByCallsign(sector.callsign);
        let firname = getCallsignByFir(firSearch(sector.callsign), index);
        html += '<tr><td>'+sector.callsign+'</td><td>'+firname+'</td><td>'+sector.freq+'</td><td>'+sector.name+'</td></tr>';
    })
    $.each(tracons, (idx, tracon) => {
        $.each(tracon.APP, (idx, app) => {
            html += '<tr><td>'+app.callsign+'</td><td>'+tracon.name+'</td><td>'+app.freq+'</td><td>'+app.name+'</td></tr>';
        })
        $.each(tracon.DEP, (idx, dep) => {
            html += '<tr><td>'+dep.callsign+'</td><td>'+tracon.name+'</td><td>'+dep.freq+'</td><td>'+dep.name+'</td></tr>';
        })
    })
    $.each(locals, (idx, local) => {
        if(local.loc.callsign)
        {
            var callsign = local.loc.callsign;
        }
        else
        {
            var callsign = local.loc.city
        }
        $.each(local.DEL, (idx, pos) => {
            html += '<tr><td>'+pos.callsign+'</td><td>'+callsign+' Delivery</td><td>'+pos.freq+'</td><td>'+pos.name+'</td></tr>';
        })
        $.each(local.GND, (idx, pos) => {
            html += '<tr><td>'+pos.callsign+'</td><td>'+callsign+' Ground</td><td>'+pos.freq+'</td><td>'+pos.name+'</td></tr>';
        })
        $.each(local.TWR, (idx, pos) => {
            html += '<tr><td>'+pos.callsign+'</td><td>'+callsign+' Tower</td><td>'+pos.freq+'</td><td>'+pos.name+'</td></tr>';
        })
    })
    $('#atc').html(html);
    
    html = '';
    var airlineCount = {};
    $.each(airlines, (idx, airline) => {
        airlineCount[airline.icao] = 0;
    })
    var airlineKeys = Object.keys(airlines);
    $.each(flights, (idx, flight) => {
        if(flight.callsign.match(/[A-Z]+/) && airlineKeys.includes(flight.callsign.match(/[A-Z]+/)[0]))
        {
            airlineCount[flight.callsign.match(/[A-Z]+/)[0]]++;
        }
    })

    airlinesSorted = [];
    for (var icao in airlineCount) {
        airlinesSorted.push([icao, airlineCount[icao]]);
    }

    airlinesSorted.sort(function(a, b) {
        return b[1] - a[1];
    });
    let counter = 0;
    let prevnum = 0;
    $.each(airlinesSorted, (idx, airline) => {
        if(airline[1])
        {
             html += '<tr><td style="text-align: center">';
            if(airline[1]) { if(counter == airline[1]) { html += prevnum; } else { html += idx + 1; prevnum = idx + 1;} counter = airline[1]; };
            html += '</td><td style="text-align: center">';
            if(airline[1] == 0) { html += '<span class="text-muted">'+ airline[1] +'</span>'; }
            else { html += airline[1]; }
            html += '</td><td style="text-align: center">'+airline[0]+'</td><td style="text-align: center">'+airlines[airline[0]].iata+'</td><td>' + airlines[airline[0]].name + '</td><td>'+ airlines[airline[0]].callsign + '</td><td>'+ airlines[airline[0]].country + '</td></tr>';
        }
    })
    $('#airlines').html(html);

}
</script>